img {
  width: 200px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.678);
}
h2 {
  font-size: 25px;
  font-weight: bold;
  text-wrap: wrap;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h3 {
  font-size: 15px;
  font-weight: 500;
}
button {
  background: none;
  background-color: rgb(197, 128, 128);
}
button:hover {
  background-color: rosybrown;
}
