.App {
  text-align: center;
}
header {
  background-color: whitesmoke;
  padding: 30px;
  margin-top: -30px;
  margin-bottom: -1px;
}
footer {
  padding: 20px;
  background-color: whitesmoke;
  font-size: 13px;
}
